/*
* @Author: Moltemort
* @Date:   2018-10-14 09:51:24
* @Last Modified by:   Moltemort
* @Last Modified time: 2018-11-21 17:09:07
*/


#canvasFrame {
    display: none;
}

#fileInput {
    display: block;
    margin: 40px auto;
}

.video-box,
.video-tag {
    width: 1310px;
    margin: 0 auto;
}

.choose-type-wrapper {
    
}

.choose-type {
    display: block;
    margin: 40px auto;
    text-align: center;
}

#context {
    display: block;
    margin: 0 auto;
    height: 35px;
    line-height: 35px;
    font-size: 16px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#context option {
    
}

#video-element,
#canvasOutput {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    object-fit:fill;
    width: 640px;
    height: 480px;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin: 5px;
}

.tag {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    width: 640px;
    text-align: center;
}

.output-tag {
    display: block;
    background: #ddd;
    text-align: center;
    height: 30px;
    line-height: 30px;
    margin-top: 5px;
}

.output-tag:nth-child(1) {
    margin-top: 25px;
}
